{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block y %}
<div class="d-flex flex-column m-5 p-5">
    <form method="POST">
        <div class="form-group mt-3">
            <label for="username">Username : </label>
            <input type="text" name="username" class="form-control" id="username">
        </div>
        <div class="form-group mt-3">
            <label for="password">Password : </label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn form-control btn-info mt-4">Login</button>
    </form>
</div>
{% endblock %}