<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello there!</title>
    <link rel="stylesheet" href="static/css/start.css">
</head>
<body> 
    <header>The Withered</header>
    <ul id="navbar">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
    <div>
        <h1>Ну привет!</h1>
        <p>Это небольшой проект-квест, который действительно заставит подумать.</p>
        <p>Здесь будет 10 этапов, каждый связан между собой и содержит секреты разных типов: некоторые из них найти легко, а некоторые потребуют большого внимания и наличия нужных программ.</p>
        <p>Все результаты записываются в cookie. Продолжая пользоваться сайтом, вы разрешаете их наличие.</p>
        <p>Также для прохождения необходимо иметь привязанную к аккаунту почту. </p>
        <p>Для начала квеста, зарегистрируйтесь, нажав на кнопку регистрации, или войдите в существующий аккаунт, нажав на кнопку входа.</p>
        <p>Удачи!</p>
    </div>
</body>
</html>